var feesConfig = {
  free: 0,
  median: 10,
  highest: 2,
  slowest: 1,
  slow: 5,
  normal: 3,
  fast: 20,
  fastest: 30,
}
window.feesConfig = feesConfig
console.log('feesConfig loaded!', feesConfig)
