#!/bin/bash
set -e
echo "Starting explorer $1"
echo "Listening on port $2"

PORT=$2

cp config.js /usr/share/nginx/html
chown nginx /usr/share/nginx/html/config.js

#sed "s/80/${PORT}/" /etc/nginx/conf.d/default.conf > /etc/nginx/conf.d/default.conf
nginx -g 'daemon off;'
